div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    
    position: absolute;
    top: 150px;
    left: 300px;

    transition: all 2s ease-in;

    /* transform: rotate(90deg); */


     /* transform: scale(2,1);   */
     /* x = 2 | y = 1 */
    
}

div:hover{
    background-color: rgb(77, 24, 33);
    color: white;
    /* font-size: 50px; */
    /* transform: scale(2,1); */
    /* transform: rotate(90deg); */

    /* transform: translate(100px,100px); */
    transform: skew(45deg);
}