*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: cadetblue;
    height: 500px;
    border: 2px solid blue;
    display:grid;

    grid-template-columns: 300px 900px 250px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */


    grid-template-rows: repeat(3,1fr);

    /* gap: 15px; */
    column-gap: 90px;
    row-gap: 80px;
}

.box{
    background-color: cornflowerblue;
    border: 2px solid red;
    width: 80px;
    height: 80px;
}

#Box1{
    grid-column-start: 1;
    grid-column-end: 3;
}

#Box4{
    grid-row-start: 2;
    grid-row-end: 4;
}