:root{
    /* declaring CSS Variable --> two hyphens are must(--) */
    /* Scope --> Global */
    --dark-red: #f0ecec;
}

.container{
    background-color: var(--dark-red);
    border: 1px solid yellow;
    height: 700px;
    width: 400px;
    
}

.box{
    background-color: aqua;
    border: 1px solid red;
    /* variable scope is only box block */
    /* Scope --> Local */
    --dark-red: #f0ecec;
    color: var(--dark-red);
}