.box{
    background-color: darkcyan;
    height: 200px;
    width: 150px;
    box-shadow: 10px 10px 10px grey, 10px 10px 10px blue;
    /*        Horizontal | Vertical | blur | Color */
}

/* by default the color of the shadow will be equal to the color of the text of the box  */